* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

body {
    height: 100vh;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 25%;
    background-color: #161b22;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 188, 212, 0.3);
}

.login-container h2 {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.login-input {
   margin-bottom: 1rem;
}

.login-input label  {
    display: block;
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 0.7rem;
}

.login-input input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 1rem;
    background-color:  #161b22;
    border: 1px solid #333;
    outline: none;
    color: #fff;
}

.login-input input::placeholder {
    color: #888;
}

.login-input input:focus {
    border: 1px solid #00bcd4;
    box-shadow: 0 0 8px rgba(0, 188, 212, 0.5); 
}



button {
  background-color: #00bcd4;           
  color: #ffffff;                     
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 188, 212, 0.3); 
  margin-left: 100px;
}

button:hover {
  background-color: #0097a7;            
  box-shadow: 
    0 6px 14px rgba(0, 188, 212, 0.5),   
    0 0 10px rgba(0, 188, 212, 0.6);
  transform: translateY(-2px);           
}

#submit-text {
    color: #4caf50;
}

